fastapi
uvicorn[standard]
sqlmodel
httpx
trafilatura
lxml[html_clean]
lxml_html_clean
python-dotenv
tldextract
nltk
watchfiles
sentence-transformers
slowapi
python-json-logger
pydantic[email]
pytest
pytest-asyncio
pytest-mock
httpx[http2]
